body {
    background-color: rgb(114, 75, 75);
}
header {
    display: flex;
    justify-content: center;
}
nav {
    width: 25%;
    height: 200px;
}
ul {
    display: flex;
    list-style: none;
  }
  nav{
      width: 25%;
      
  }
